[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=flatpak run party.aos.betterspades
Name=BetterSpades
GenericName=Ace of Spades client targeted at low end systems
Comment=Runs on your grandmother's rig!
Keywords=game;fps;sandbox;voxel;aos;
Icon=icon.png
Categories=Game;ActionGame;
MimeType=x-scheme-handler/aos;
